*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;   
}

body{
  max-width: 110em;
  margin: 0;
  padding: 0;
  background-color: white;
  padding-top: 70px;
}

header{
  display: flex;
  justify-content: space-evenly; 
  width: 100%;
  padding: 20px 0;
  align-items: center;
  top: 0;
  background-color: white;
  border: 1px solid lightgray;
  position: fixed;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
}

.container{
  display: flex;
  margin-top: 50px;
  padding-left: 10px;
  width: 25em;
  border: 1px solid black;
}

.logo{
  display: flex;
  font-size: 30px;
}

.div-itens{
  display: flex;
  width: 25em;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}

.search{
  border: 0;
  width: 180px;
  text-align: center;
}

.header-itens-search{
 width: 200px; 
 height: 10px;
}

.header-search{
  width: 12px;
  height: 12px;
}

.header-itens{
  width: 21px;
  height: 21px;
}

a{
  color: black;
  text-decoration: none;
}

li>a{
  padding: 14px 16px;
}

li>a:hover{
  border-bottom: 1px solid red;
}

.primeirogrupo{
  display: flex; /*Startando o container*/
  flex-wrap: wrap; /*Limita o conteúdo para detro do container*/
  justify-content: space-evenly;
  margin: 30px 5px;
  background-color: grey;
}

.primeirogrupo-imagem{
  height: 500px;
  width: 350px;
}

.topicosegundogrupo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 17px;
  font-weight: 600;
}

.segundogrupo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 400px;
  margin: 30px 0;
}

.textoimagem{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.segundogrupo-imagem{
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 12px 12px;
  border: 1px solid lightgray;
  align-content: space-between;
  border-radius: 50%;
  justify-content: space-between;
}

hr{
  width: 40px;
  height: 10px;
  background-color: black;
  margin: 40px 0px;
}

.hr{
  display: flex;
  align-items: center;
  height: 20px;
}

.topicoterceirogrupo{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 60px;
  font-size: 25px;
  margin: 50px 0;
}


.border{
  border: 2px solid black;
}